<% include ./partials/header %>
<link rel="stylesheet" href="../css/profile.css">

<div class="col-sm-10">
<!-- profile information display -->
<table >
    <%for (var i in seller){%>
        <tr>
        <%if(i!="id"){%>
            <%if(i == "location"){%>
            <td class="left">LATITUDE</td>
            <td><%=seller[i]['lat']%></td>
            <tr>
            <td class="left">LONGITUDE</td>
            <td><%=seller[i]['lng']%></td>
            </tr>
            <%}else{%>    
            <td class="left"><%=i.toUpperCase()%></td>
            <td><%=seller[i]%></td>
            <%}%>
        </tr>
    <%}%>   
    <%}%>   
</table>
<%if(!('Shop-name' in seller) ){%>
<div id="shop">
    <input type="text" id="shopName" placeholder="Add shop name">
    <button onclick="addShopName()">Add</button>
</div>
<%}%>
<div id="add"></div>
<%if(!('location' in seller) ){%>
<div id="location">
    <button onclick="latlang()">add Currtent location as Shop Location</button>
    OR
    <button onclick="addinput()">Manually add address of shop</button>
    <%}else{%>
    <button onclick="updatelatlng()">update Currtent location as Shop Location</button>
    OR
    <button onclick="updateinput()">Manually update address of shop</button>
</div>
<%}%>
</div>

    
</div>
<!-- closed row -->
</div>
<!-- closed container -->
</div>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script src="../js/auth.js"></script>
<script src="../js/profile.js"></script>
</body>

</html>