<html>
    <head>
        <title>
            sign up
        </title>
    </head>
    <body>
        <form>
            name<input type="text" id="name"><br>
            email <input type="email" id="email"><br>
            contact number <input type="tel"  id="contact"><br>
            shop's name <input type="text" id="shopName"> <br>
            shop address <button onclick="latlang()">add Currtent location as Shop Location</button>
            OR
            <button onclick="addinput()">Manually add address of shop</button>
        </form>
    </body>
</html>