#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: wait;
}
.add{
    margin: 10px 0 50px 0;
}

form{
    width: 100%;
}
.attributes{
    width: 33%;
}
form input[type = text], input[type = file]{
    width: 60%;
}

.req{
  color: red;
  margin-left: 4px;
}

.adPosts img {
    max-width: 50%;
}