.noItems{
    margin: 100px auto;
    width: max-content;
}
body{
    font-size: 14px;
}
.navbar{
    background-color: #ed7023;
    padding: .1rem 1rem;
}
.navbar-light .navbar-brand ,a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: white;
}
.container{
    max-width: 100%;
}
.nav-item{
    color: white;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* side nav styles */
.row{
    height: 91%;
}
.row .col-sm-2{
    padding: 0;
}
.vertical {
    /* border-right: #ed7023 4px solid;
    border-bottom: #ed7023 4px solid; */
    background: #27a68f;
    height: 100%;
    
}
.vertical ul{
    list-style: none;
    color: white;
    font-size: 23px;
    font-weight: 100;
    padding: 0;
    text-align: left;

}
.vertical ul li{
    padding: 5% 5%;
    transition-property:all;
    transition-duration: 350ms;
}

.vertical ul li:hover{
    background: white;
    color: #27a68f;
    border-left: 4px solid #ed7023;
    border-right: 4px solid #ed7023;
    font-weight: bold;
    text-align: right;
}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {
    height:9% !important;
    min-height: max-content;
}

/* loader and overlay css */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: wait;
}

.spinner {
  margin:250px auto ;
  width: 70px;
  text-align: center;
  
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background:#ee8d51;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
button, input[type = button]:hover{
    cursor: pointer;
}