#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: wait;
}
#cat{
  margin: 2%;
}
#form{
  margin: 2%;
}

/* form styling */
form label.label{
width : 30%;
}
.text{
    width: 65%;
}
.req{
  color: red;
  margin-left: 4px;
}
#infoBox{
  margin: 20px 0;
}
input[type ="text"]{
  margin:5px;
}
input[type ="text"]:focus
{
  border: none;
  border-bottom: 3px solid #27a68f;

  
}
/* loader */
.spinner {
  margin:250px auto ;
  width: 70px;
  text-align: center;
  
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background:#ee8d51;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}