table{
    background: linear-gradient(to right, #25c481, #25b7c4);
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    border:1px solid rgba(255,255,255,0.3);
    text-align: center;
    border-radius:8px;
    margin: 15px auto;
}
td,th{
    padding: 10px;
}
tr{
    padding: 4px;
}

table .left{
    font-weight: 600;
}
#location{
   text-align: center;
   margin: 15px 0;
}
#add,#shop{
    margin: 15px auto;
    text-align: center;
}
.buttons{
    padding: 8px 10px;
    max-width: 200px;
    border: none;
    background: #ed7023;
    border-radius: 8px;
    color: white;
    font-weight:300;
    font-size: 16px;

}